<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Projects</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css'}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- /.row -->
<div class="row">
    <div class="col-sm-4 my-4" th:each="project : ${myProjects}">
        <div class="card">
            <img class="card-img-top" th:src="${project.image}" alt="There was supposed to be something here" />
            <div class="card-body">
                <h4 class="card-title" th:text="${project.name}" ></h4>
                <p th:text="${project.description}" ></p>
            </div>
            <div class="card-footer">
                <a th:href="${project.link}" class="btn btn-primary bg-dark">On Github</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<script th:src="@{'webjars/jquery'}"></script>
<script th:src="@{'webjars/popper.js'}"></script>
<script th:src="@{'webjars/bootstrap'}"></script>
</body>
</html>